.primary-background {
  background: linear-gradient(to bottom right, #0c1324, #040813, #0d1425);
}

.primary-text {
  background: linear-gradient(135deg, hsl(263, 70%, 50%), hsl(142, 76%, 36%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: $spacing-xs;
}

.avatar {
  width: 120px;
  height: 120px;
  background-image: url('../../assets/logo-secxun.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.gradient-text {
  font-weight: 800;
  background: linear-gradient(135deg, hsl(263, 70%, 50%), hsl(142, 76%, 36%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-muted-white {
  color: rgba(255, 255, 255, 0.7);
}

.primary-title {
  position: relative;
  font-size: 1.2rem;

  padding-left: 20px;
  text-align: left;
  background: linear-gradient(135deg, #00ffcc, #00d4ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, #00ffcc, #00d4ff);
    border-radius: 2px;
  }
}

.card {
  background: #090e1a;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.primary-icon {
  background: linear-gradient(135deg, #00ffcc, #00d4ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
